// Import page-specific CSS files here.
@import "home";

.malt-header {
  background-color: $primary;
  color: #fff;
  padding: 2rem 1rem;
  margin-bottom: 2rem;
  text-align: center;

  h2 {
    margin-bottom: 0;
  }
}

.malt-profile-btn {
  background-color: $secondary;
  color: #fff;
  border: none;

  &:hover {
    background-color: darken($secondary, 10%);
  }
}
