<h2>Create Profile</h2>
<%= form_for @profile do |f| %>
  <%= f.label :bio, "Bio" %>
  <%= f.text_area :bio, class: "form-control" %>

  <%= f.submit "Create", class: "btn btn-success mt-2" %>
<% end %>
