<!-- filepath: /home/nusayhah/code/mnusayhah/mofreelance/app/views/freelancer/profiles/_education_fields.html.erb -->
<div class="nested-fields">
  <div class="row">
    <div class="col-md-6 mb-3">
      <%= f.input :school, label: "School", input_html: { class: "form-control" } %>
    </div>
    <div class="col-md-6 mb-3">
      <%= f.input :diploma, label: "Diploma", input_html: { class: "form-control" } %>
    </div>
  </div>
  <%= link_to "Remove Education", '#', class: "remove_fields btn btn-danger" %>
</div>
