<!-- filepath: /home/nusayhah/code/mnusayhah/mofreelance/app/views/freelancer/profiles/_education_fields_template.html.erb -->
<script type="text/template" id="education_fields_template">
  <div class="nested-fields">
    <div class="row">
      <div class="col-md-6 mb-3">
        <input class="form-control" type="text" name="profile[educations_attributes][new_education][school]" id="profile_educations_attributes_new_education_school">
      </div>
      <div class="col-md-6 mb-3">
        <input class="form-control" type="text" name="profile[educations_attributes][new_education][diploma]" id="profile_educations_attributes_new_education_diploma">
      </div>
    </div>
    <a href="#" class="remove_fields btn btn-danger">Remove Education</a>
  </div>
</script>
