
<%= simple_form_for [:freelancer, @profile], html: { multipart: true, class: "container mt-5", data: { turbo: false } } do |f| %>
    <%= f.input :title, label: "Job Title", input_html: { class: "form-control" } %>

    <div id="skills">
        <%# Skills are now added dynamically via AJAX %>
    </div>

    <button type="button" id="add_skill">Add Skill</button>
    <%= f.submit "Save Profile" %>
<% end %>

